/* ClientDetail.css */

.client-detail-container {
    padding: 20px;
    margin-top: 7em;
  }

  .stats {
    display: flex;
    justify-content: space-around;
    margin-right: 2.5em;
    margin-bottom: 20px;
  }
  
  .filter-buttons  {
    margin-bottom: 20px;
  }
  
  .filter-buttons  button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    background: #ff914d;
    color: black;
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-buttons button:hover {
    /* background-color: #FF9A5C; */
    opacity: 0.9;
    transform: scale(1.04)
  }
  
  .client-detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .client-detail-table th,
  .client-detail-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .client-detail-table th {
    background-color: #f2f2f2;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }

  .phone {
    text-decoration: none;
    color: #ff914d;
    opacity: 0.96;
    text-shadow: gray .2px .2px 1px;
    font-weight: 600;
  }
  
  .phone:hover {
    color: #ff914d;
    opacity: 1;
    text-decoration: underline;
  }
  .trend-up {
    color: green !important;
  }
  
  .trend-down {
    color: red !important;
  }
  
  .total-calls, .calls-today {
      font-size: 1.2em;
  }
  .call-label {
    font-size: x-large;
    font-weight: 600;
  }
  .gravity-forms-data {
    margin-top: 30px;
}

.gravity-forms-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.gravity-forms-table th,
.gravity-forms-table td {
    border: 1px solid #ddd;
    padding: 6px;
}

.gravity-forms-table th {
    background-color: #f2f2f2;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.show-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    color: black;
    font-size: small;
    font-weight: 200;
}

.show-more-container {
    display: flex;
    justify-content: flex-start; /* Aligns the button to the right */
    /* margin: 0em 12em 0em 2em; */
  }
  
  .show-more-button {
    padding: 5px 20px;
    background: #ff914d;
    color: black;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .show-more-button:hover {
    background-color: #FF9A5C;
    transform: scale(1.04);
  }
  